.task {
  //@extend %useless-labs;
  //font-family: "SF Display";
}

.task:hover {
  //@extend %useless-labs;
  // background-color: blue;
}

.fill {
  height: 100vh;
  width: 100vw;
  background-color: #211b23;
  //EEDFF3
  margin: 0px;
  overflow-y: scroll;
  //overflow: hidden;
  outline: 0;
}

.input {
  //border-bottom-style: groove;
}

.input :focus {
  background-color: blue;
}

::-webkit-scrollbar {
  display: none;
}

.arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 4px;
  top: 4px;
  //animation-delay: 4s;
}
