.task {
  //@extend %useless-labs;
  //font-family: "SF Display";
}

.task:hover {
  //@extend %useless-labs;
  background-color: blue;
}

.hotkey {
  height: 100vh;
  width: 100vw;
  //background-color: red;
  margin: 0px;
  overflow: hidden;
  outline: 0;
}
